section {
    margin-bottom: 100px;
}

.carousel-inner img {
    height: 550px;
    filter: brightness(40%);
}

.header-texts {
    margin-top: 200px;
}

.header-texts h1 {
    font-size: 4.5vw;
}

a {
    text-decoration: none;
}
